/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }
  /* end css reset  */

  :root{
    --main-color:#d97706;
  }

body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    font-family: "Roboto", sans-serif;
}

#MigakuShadowDom{
    display: none;
}

a:link,
a:visited{
    color:black;
    text-decoration: none;
}

.sidebar{
    background-color: var(--main-color);
    padding: 2rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.sidebar nav{
    display: grid;
    gap:0.5rem;
    margin: 3rem 0;
}

.logo_section{
  display: grid;
  grid-template-columns: 1fr 5fr ;
  align-items: center;
}

.logo_section i img{
  width: 2rem;
  height: auto;

}

.sidebar nav a{
    display: grid;
    grid-template-columns: 1fr 5fr;
    font-size: 1.3rem;
    align-items: center;
    font-weight: bold;
    text-transform:capitalize;
    border-radius: 10px;
    padding: 5px 10px;
}

.sidebar nav a:hover{
  background-color: white;
}

nav i img{
    width: 1.5rem;
    height: auto;
}

.search_and_info{
    display: grid;
    gap: 3rem;
    background-color: white;
    padding: 2rem;
    box-shadow: 10px -5px 8px 6px rgb(0,0,0,0.5);
}

.search_section{
    display:grid;
    grid-template-columns: 5fr 1fr 1fr;
    gap: 2rem;
}
 .info_section{
    display: grid;
    grid-template-columns: 5fr 2fr;
 }

.info_section .button-section{
    display: flex;
    justify-content: space-evenly;
}

.right-section{
  background-color: #fff7ed;
}

main{
    display: grid;
    grid-template-columns: 5fr 2fr;
}

.project-section{
    padding: 2rem;
}

.announcements-section,
.trending-section{
    padding:2rem;
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr) );
    gap:2rem;
    margin-top: 1rem;
}

.card{
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 1px rgb(0,0,0,0.5),inset 28px 0px 0px -15px #166534;
  overflow: hidden;

  display: grid;
}

.card .title{
  font-weight: bold;
}

.card-btns{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  justify-self: end;
  align-self: end;
}

.card a img{
  width:1.5rem;
  height: auto;
}


.announcements-section > h2{
  margin-bottom: 1rem;
}

.container{
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 3px 0px rgb(0,0,0,0.5);

  display: grid;
  margin: 1rem;
  gap: 1rem;
  }

  .announcement{
    border-bottom: 1px solid rgb(0,0,0,0.5);
    padding-bottom: 1rem;
  }

  .container :last-child{
    border-bottom: 0;
  }

.announcement h2,
.trending_user h2{
  font-weight: bold;
  font-size: 1rem;
}
 